<main class="flex flex-col items-center">
    <div class="flex flex-col h-fit border rounded-md bg-bg-color p-5 box-border justify-start items-center w-fit">
        <section class="flex items-start justify-start w-full">
            <h1 class="text-start font-semibold my-5 text-lg">Registro de materia</h1>
        </section>
        <form class="flex flex-col  justify-center items-center" [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
            <div class="w-full flex flex-row justify-between">
                <div class="flex flex-col md:w-[49%] w-full my-2">
                    <label for="subjectName">Nombre de la Materia</label>
                    <input type="text"
                        class=" w-full h-8 border border-gray-400 rounded-md pl-3 outline-none focus:border-primary"
                        id="subjectName" placeholder="Nombre de la Materia" formControlName="name">
                </div>
                <div class="flex flex-col md:w-[49%] w-full my-2">
                    <label for="subjectHours">Horas de la Materia</label>
                    <input type="number"
                        class=" w-full h-8 border border-gray-400 rounded-md pl-3 outline-none focus:border-primary"
                        id="subjectHours" placeholder="Horas" formControlName="hours">
                </div>

            </div>
            <div class="flex flex-col w-full my-2">
                <label for="subjectDescription">Grado</label>
                <select class="w-full h-9 border border-gray-400 rounded-md pl-3 outline-none focus:border-primary"
                    formControlName="grade">
                    @for(grade of gradeList; track grade.id){
                    <option value="{{grade.id}}">{{grade.number}}° {{grade.section}}</option>
                    }
                </select>
            </div>
            <div class="flex flex-col w-full my-2">
                <label for="subjectDescription">Requisitos</label>
                <select class="h-9 border border-gray-400 rounded-md pl-3 outline-none focus:border-primary"
                    formControlName="requirements" (change)="addRequirement($event)">
                    <option value="-1" disabled>Seleccione los requisitos</option>
                    @for(requirement of requirementList; track requirement.id){
                    <option value="{{requirement.id}}" [title]="requirement.description">{{requirement.requirement}}
                    </option>
                    }
                </select>
            </div>
            <div class="flex flex-col w-full">
                <h2>Requisitos Seleccionados</h2>
                <ul>
                    @for(requirement of selectedRequirement; track requirement.id){
                    <li class="flex flex-row justify-between items-center w-full my-2 pl-2">
                        <span>{{requirement.requirement}}</span>
                        <button type="button" (click)="removeRequirement(requirement.id)"
                            class=" border rounded-md bg-red-500 text-white hover:bg-red-600 transition px-5 w-fit">Eliminar</button>
                        }
                </ul>
            </div>
            <div class="flex flex-col w-full my-2 items-end">
                <button type="submit"
                    class="h-8 border rounded-md bg-primary text-bg-color disabled:opacity-50 transition disabled:hover:bg-primary hover:bg-selected hover:text-white mt-5 px-5 w-fit">Guardar</button>
            </div>
        </form>
    </div>
</main>

<app-modal #modal>
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button type="button" (click)="closeModal()"
            class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
        </button>
        <div class="p-4 md:p-5 text-center">
            <h3 class="mb-5 mt-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                {{message}}
            </h3>


            <button type="button" (click)="closeModal()" [disabled]="this.subjectForm.invalid"
                class="text-white bg-primary hover:bg-selected focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                Aceptar
            </button>

        </div>
    </div>
</app-modal>