<main
  class="flex flex-col items-center rounded-md border h-[87vh] bg-bg-color overflow-auto w-full"
>
  <h1 class="mt-2 text-lg font-semibold">Actividades</h1>
  <div class="flex sm:flex-row flex-col mb-2 w-full sm:justify-evenly items-center">
    <div class="flex  flex-col ">
      <div class="flex my-1 min-w-56">
        <span class="font-bold">Curso: </span>
        <span class="ml-2">{{ assignation.className }}</span>
      </div>
      <div class="flex my-1">
        <span class="font-bold">Profesor: </span>
        <span class="ml-2">{{ assignation.teacherName }}</span>
      </div>
    </div>
    <div class="flex flex-col  min-w-56">
      <div class="flex my-1">
        <span class="font-bold">Materia: </span>
        <span class="ml-2">{{ assignation.subjectName }}</span>
      </div>
      <div class="flex my-1">
        <span class="font-bold">Bimestre: </span>
        <span class="ml-2">{{ bimester }}</span>
      </div>
    </div>
  </div>
  <div class="flex lg:flex-row flex-col lg:w-4/5 w-full p-2 justify-between lg:space-y-0 space-y-2">
    <section
      class="flex flex-col lg:w-5/12 w-full bg-white p-2 items-center border rounded-md lg:h-[65vh] h-fit"
    >
      <h2 class="font-semibold w-full text-start">Lista de actividades</h2>
      <div class="w-full lg:h-4/5  h-fit overflow-y-auto flex flex-col">
        <details class="w-full p-2 border rounded-lg mb-2 bg-bg-color">
          <summary class="cursor-pointer flex">
            Saber : {{ totalPercentage["SABER"] }} %
          </summary>
          @for (activity of activities["SABER"]; track activity.id) {
            <ul class="flex flex-col w-full overflow-y-scroll items-center">
              <li class="border rounded-md bg-white p-3 my-1 w-full">
                <app-activity-card [activity]="activity"
                                   (deleteEventEmitter)="onDeleteActivity($event)"
                                   (updateEventEmitter)="onUpdate($event)"></app-activity-card>
              </li>
            </ul>
          } @empty {
            <span class="text-center p-2 inline-block w-full border bg-white rounded-md">No se registraron actividades en esta dimensión</span>
          }
        </details>
        <details class="w-full p-2 border rounded-lg mb-2 bg-bg-color">
          <summary class="cursor-pointer flex">
            Decidir : {{ totalPercentage["DECIDIR"] }}%
          </summary>
          @for (activity of activities["DECIDIR"]; track activity.id) {
            <ul class="flex flex-col w-full overflow-y-scroll items-center">
              <li class="border rounded-md bg-white p-3 my-1 w-full">
               <app-activity-card [activity]="activity"
               (deleteEventEmitter)="onDeleteActivity($event)"
               (updateEventEmitter)="onUpdate($event)"></app-activity-card>
              </li>
            </ul>
          }@empty {
            <span class="text-center p-2 inline-block w-full border bg-white rounded-md">No se registraron actividades en esta dimensión</span>
          }
        </details>
        <details class="w-full p-2 border rounded-lg mb-2 bg-bg-color">
          <summary class="cursor-pointer flex">
            Ser : {{ totalPercentage["SER"] }}%
          </summary>
          @for (activity of activities["SER"]; track activity.id) {
            <ul class="flex flex-col w-full overflow-y-scroll items-center">
              <li class="border rounded-md bg-white p-3 my-1 w-full">
                <app-activity-card [activity]="activity"
                                   (deleteEventEmitter)="onDeleteActivity($event)"
                                   (updateEventEmitter)="onUpdate($event)"></app-activity-card>
              </li>
            </ul>
          }@empty {
            <span class="text-center p-2 inline-block w-full border bg-white rounded-md">No se registraron actividades en esta dimensión</span>
          }
        </details>
        <details class="w-full p-2 border rounded-lg mb-2 bg-bg-color">
          <summary class="cursor-pointer flex">
            Hacer : {{ totalPercentage["HACER"] }}%
          </summary>
          @for (activity of activities["HACER"]; track activity.id) {
            <ul class="flex flex-col w-full overflow-y-scroll items-center">
              <li class="border rounded-md bg-white p-3 my-1 w-full">
                <app-activity-card [activity]="activity"
                                   (deleteEventEmitter)="onDeleteActivity($event)"
                                   (updateEventEmitter)="onUpdate($event)"></app-activity-card>
              </li>
            </ul>
          }@empty {
            <span class="text-center p-2 inline-block w-full border bg-white rounded-md">No se registraron actividades en esta dimensión</span>
          }
        </details>
      </div>

      <div class="flex flex-row items-center w-full px-3 py-2 justify-between">
        <button
          (click)="onNewActivity()"
          class="border rounded-md bg-active h-fit w-fit md:px-3 md:py-1 p-0.5 text-sm text-white hover:bg-sky-700 transition-colors"
        >
          Nueva actividad
        </button>
        <span
          >Total:
          <span
            [ngClass]="{
              'text-red-500 font-bold': totalPercentage['TOTAL'] > 100
            }"
          >
            {{ totalPercentage["TOTAL"] }} %</span
          >
        </span>
      </div>
    </section>
    @if (showForm) {
      <section
        class="flex flex-col lg:w-[55%] w-full bg-white p-2 items-center border rounded-md lg:h-[65vh] h-fit"
      >
        <h2 class="font-semibold w-full text-start">{{ title }}</h2>
        <form
          class="flex flex-col w-full p-3 items-end h-full"
          [formGroup]="activityForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="flex flex-col w-full my-2">
            <label for="name">Nombre: </label>
            <input
              type="text"
              id="name"
              class="border rounded-md text-sm border-gray-400"
              placeholder="Nombre de la actividad"
              formControlName="name"
            />
          </div>
          <div class="flex flex-col w-full my-2">
            <label for="value">Valor: </label>
            <input
              type="number"
              id="value"
              class="border rounded-md text-sm border-gray-400"
              placeholder="Valor de actividad"
              formControlName="value"
            />
          </div>
          <div class="flex flex-col w-full my-2">
            <label for="dimension">Dimesion: </label>
            <select
              class="border rounded-md text-sm border-gray-400"
              id="dimension"
              formControlName="dimension"
            >
              <option value="-1" selected disabled>
                Seleccione una dimension
              </option>
              <option value="HACER">Hacer</option>
              <option value="SABER">Saber</option>
              <option value="SER">Ser</option>
              <option value="DECIDIR">Decidir</option>
            </select>
          </div>
          <div class="flex flex-row justify-end items-end w-full h-full my-2">
            <button
              class="border rounded-md bg-primary h-fit w-fit px-3 py-1 text-white hover:bg-blue-600 disabled:opacity-65 disabled:hover:bg-primary transition-colors"
              [disabled]="activityForm.invalid"
            >
              Guardar
            </button>
          </div>
        </form>
      </section>
    }
  </div>
</main>
<ng-template #modal></ng-template>
