<main
  class="flex flex-col items-center w-full border rounded-md bg-bg-color h-[85vh] overflow-y-scroll p-2">
  <h1 class="text-xl font-bold">
    Registro de usuario
  </h1>
  <form
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col w-full lg:w-3/4 justify-start pr-2 pb-2">
    <div class="flex flex-col w-full min-w-fit" >
      <h2 class="text-lg font-semibold">Información personal</h2>
      <section class="flex md:flex-row flex-col">
        <div class="md:w-4/5 w-full">
          <div class="flex flex-col justify-between lg:flex-row">
            <div class="flex flex-col my-3 mr-0 lg:mr-3 box-content w-full">
              <label for="name">Nombres</label>
              <input
                name="name"
                type="text"
                id="name"
                class="h-8 border border-gray-400 rounded-md pl-3 outline-none focus:border-primary"
                formControlName="name" />
              @if (userForm.get('name')?.invalid && userForm.get('name')?.touched) {
                <span class="text-red-600 text-sm">Nombre Invalido</span>
              }
            </div>
            <div class="flex flex-col my-3 mr-3 md:mr-0 box-content w-full">
              <label for="lastname">Apellidos</label>
              <input
                id="lastname"
                name="lastname"
                type="text"
                class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
                formControlName="lastname" />
              @if (
                userForm.get('lastname')?.invalid &&
                userForm.get('lastname')?.touched
                ) {
                <span class="text-red-600 text-sm">Apellido Invalido</span>
              }
            </div>
          </div>
          <div class="flex flex-col justify-between lg:flex-row">
            <div class="flex flex-col my-3 mr-0 lg:mr-3 box-content w-full">
              <label for="ci">CI</label>
              <input
                id="ci"
                name="ci"
                type="text"
                class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
                formControlName="ci" />
              @if (
                userForm.get('ci')?.invalid &&
                userForm.get('ci')?.touched &&
                !userForm.get('ci')?.getError('ciExists')
                ) {
                <span class="text-red-600 text-sm">CI Invalido</span>
              }
              @if (userForm.get('ci')?.getError('ciExists')) {
                <span class="text-red-600 text-sm">CI ya registrado</span>
              }
            </div>
            <div class="flex flex-col my-3 w-full">
              <label for="phone">Teléfono</label>
              <input
                name="phone"
                id="phone"
                type="tel"
                class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
                formControlName="phone" />
              @if (
                userForm.get('phone')?.invalid &&
                userForm.get('phone')?.touched &&
                !userForm.get('phone')?.getError('phoneExists')
                ) {
                <span class="text-red-600 text-sm">Teléfono Invalido</span>
              }
              @if (userForm.get('phone')?.getError('phoneExists')) {
                <span class="text-red-600 text-sm">Teléfono ya registrado</span>
              }
            </div>
          </div>
          <div class="flex flex-col my-3 mr-0 box-content w-full">
            <label for="email">Email Personal</label>
            <input
              id="email"
              name="email"
              type="email"
              class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
              formControlName="email" />
            @if (
              userForm.get('email')?.invalid &&
              userForm.get('email')?.touched &&
              !userForm.get('email')?.getError('emailExists')
              ) {
              <span class="text-red-600 text-sm">Email Invalido</span>
            }
            @if (userForm.get('email')?.getError('emailExists')) {
              <span class="text-red-600 text-sm">Email ya registrado</span>
            }
          </div>
          <div class="flex flex-col my-3">
            <label for="address">Dirección</label>
            <textarea
              id="address"
              name="address"
              type="text"
              placeholder="Dirección"
              class="border border-gray-400 rounded-md pl-3 resize-none"
              rows="2"
              formControlName="address"></textarea>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center h-full md:w-1/5  w-full rounded-md">
          <img
            src="{{ userImage }}"
            class="border rounded-full max-h-32 max-w-[8rem] aspect-square"
            alt="user image" />
          <label class="flex flex-col w-3/4 max-w-28 text-center mt-10">
          <span
            class="flex justify-center items-center text-white border rounded-md bg-active h-8 hover:bg-primary transition">
            Foto
          </span>
            <input
              type="file"
              class="hidden"
              (change)="onFileSelectedHandler($event)"
              accept="image/*" />
          </label>
        </div>
      </section>
      <h2 class="text-lg font-semibold">Información del Rol</h2>
      <section>
        <div class="flex flex-col my-3">
          <label for="role">Rol</label>
          <select
            id="role"
            name="role"
            class="border border-gray-400 rounded-md px-3 p-1 outline-none"
            formControlName="role"
            (change)="changeValidators($event)">
            <option value="ADMINISTRATIVE">Administrative</option>
            <option selected value="TEACHER">Profesor</option>
            <option value="PARENT">Padre</option>
          </select>
        </div>
        @if (userForm.get('role')?.value === 'TEACHER') {
          <div class="flex flex-col my-3 mr-0 box-content w-full">
            <label for="workEmail">Email Académico</label>
            <input
              id="workEmail"
              name="workEmail"
              type="email"
              class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
              formControlName="workEmail" />
          </div>
          <app-subject-selection
            (subjectEventEmitter)="
            onUpdateSubjectHandler($event)
          "></app-subject-selection>
        }
      </section>
      </div>
    <div class="flex justify-center">
      @if (requestSend) {
        <div role="status">
          <svg
            aria-hidden="true"
            class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor" />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill" />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      }
    </div>
    <div class="flex w-full justify-end mt-2">
      <button
        class="h-8 border rounded-md bg-primary text-bg-color col-span-1 disabled:opacity-50 transition-colors disabled:hover:bg-primary hover:bg-selected hover:text-white w-28"
        [disabled]="requestSend || userForm.invalid">
        Enviar
      </button>
    </div>
  </form>
</main>
<ng-template #modal></ng-template>
