<div class="overflow-y-clip">
  <nav
    class="fixed top-0 z-50 w-full bg-primary border-b border-gray-600 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <button
            data-drawer-target="logo-sidebar"
            data-drawer-toggle="logo-sidebar"
            aria-controls="logo-sidebar"
            type="button"
            class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          >
            <span class="sr-only">Open sidebar</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div>
              <button
                type="button"
                class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                aria-expanded="false"
                data-dropdown-toggle="dropdown-user"
              >
                <span class="sr-only">Open user menu</span>
                <img
                  class="w-8 h-8 rounded-full"
                  src="../assets/user.svg"
                  alt="user photo"
                />
              </button>
            </div>
            <div
              class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
              id="dropdown-user"
            >
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">
                  {{ userDetails.details.person.name }}
                  {{ userDetails.details.person.lastname }}
                </p>
                <p
                  class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
                  role="none"
                ></p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a
                    (click)="logout()"
                    tabindex="0"
                    (keydown)="logout()"
                    class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem"
                    >Sign out</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <aside
    id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-[5rem] transition-transform -translate-x-full bg-primary dark:bg-gray-800 dark:border-gray-700 box-content"
    aria-label="Sidebar"
  >
    <div class="h-[87vh] px-3 pb-4 overflow-y-auto bg-primary dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
        <h2 class="text-white font-semibold">Menu</h2>
        @for (route of routesList.uniqueRoutes; track route.id) {
          <li
            class="flex items-center justify-center w-full border border-white transition duration-75 rounded-lg group hover:bg-active dark:text-white dark:hover:bg-gray-700"
            data-drawer-target="logo-sidebar"
            data-drawer-toggle="logo-sidebar"
          >
            <a
              routerLink="{{ route.route }}"
              class="text-white w-full h-full p-2"
              role="menuitem"
              >{{ route.title }}</a
            >
          </li>
        }
        <hr />
        @if (userDetails.role === "PARENT") {
          <h2 class="text-white font-semibold">Estudiantes</h2>
          @for (student of userDetails.students; track student.id) {
            <button
              type="button"
              (click)="showList('dropdown-' + student.id)"
              class="flex items-center w-full border border-white transition duration-75 p-2 rounded-lg group hover:bg-active dark:text-white dark:hover:bg-gray-700"
              [attr.aria-controls]="'dropdown-' + student.id"
            >
              <span
                class="flex-1 ms-3 text-white text-left rtl:text-right whitespace-nowrap"
                >{{ student.name }} {{ student.fatherLastname }}
                {{ student.motherLastname }}</span
              >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <ul
              id="dropdown-{{ student.id }}"
              class="hidden flex-col py-2 space-y-2 items-end border border-gray-500 rounded-lg p-2 box-border"
            >
              @for (route of routesList.childRoutes; track route.id) {
                <li
                  class="flex items-center justify-start w-11/12 border border-white transition duration-75 rounded-lg group hover:bg-active"
                  data-drawer-target="logo-sidebar"
                  data-drawer-toggle="logo-sidebar"
                >
                  <a
                    [routerLink]="route.route + '/' + student.id"
                    class="text-white text-center p-2 inline w-full h-full"
                    role="menuitem"
                    >{{ route.title }}</a
                  >
                </li>
              }
            </ul>
          }
        }
        @if (userDetails.role === "TEACHER") {
          <h2 class="text-white font-semibold">Cursos</h2>
          @for (
            assignation of userDetails.classAssignations;
            track assignation.id
          ) {
            <button
              type="button"
              (click)="showList('dropdown-' + assignation.id)"
              class="flex border border-white items-center w-full p-2 transition duration-75 rounded-lg group hover:bg-active"
              [attr.aria-controls]="'dropdown-' + assignation.id"
            >
              <span
                class="flex-1 ms-3 text-white text-left rtl:text-right whitespace-nowrap truncate"
                title="{{ assignation.className }} - {{
                  assignation.subjectName
                }}"
                >{{ assignation.className }} -
                {{ assignation.subjectName }}</span
              >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <ul
              id="dropdown-{{ assignation.id }}"
              class="hidden flex-col py-2 space-y-2 items-end border border-gray-500 rounded-lg p-2 box-border"
            >
              @for (route of routesList.childRoutes; track route.id) {
                <li
                  class="flex items-center justify-start w-11/12 p-2 border border-white transition duration-75 rounded-lg group hover:bg-active"
                  data-drawer-target="logo-sidebar"
                  data-drawer-toggle="logo-sidebar"
                >
                  <a
                    [routerLink]="route.route + '/' + assignation.id"
                    class="ml-2 text-white text-center inline w-full h-full"
                    role="menuitem"
                    >{{ route.title }}</a
                  >
                </li>
              }
            </ul>
          }
        }
        @if (userDetails.role === "ADMINISTRATIVE") {}
      </ul>
    </div>
  </aside>

  <div class="p-4 mt-14">
    <ng-content></ng-content>
  </div>
</div>
