<main class="flex w-full lg:h-[86dvh] bg-bg-color p-2 border rounded-md overflow-auto">
  <div class=" md:grid md:grid-cols-2C md:gap-2 flex flex-col w-full">
    @if (screen.width >= 768 || !showChat){
      <app-chat-list
        [userData]="userData"
        (receiverEmitter)="onReceiverSelected($event)"
      ></app-chat-list>
    }
    @if (receiverId && (showChat || screen.width >= 768)){
      <app-chat [receiverId]="receiverId" (backEventEmitter)="onBackHandler($event)"></app-chat>
    }
  </div>
</main>
