@if(isLogged){
    <app-navs [userDetails]="userDetails" (logoutEvent)="updateLoginState($event)">
        <router-outlet></router-outlet>
    </app-navs>
}
@else{
  <app-login (loginEvent)="updateLoginState($event)"></app-login>
}
<ng-template #modal let-data="data">
  <div class="flex flex-col">
    <p>Seleccione el rol con el que iniciara sesión</p>
    <select class="border rounded-md">
      <option selected disabled>Seleccione un rol</option>
      @for(role of data ; track role.id){
        <option value="{{role.id}}"> {{currentRoles[role.name]}}</option>
      }
    </select>
  </div>
</ng-template>
