<main class="flex flex-col h-[87vh] border rounded-md  bg-bg-color overflow-y-scroll overflow-x-hidden">
    <div class="w-full flex justify-start p-4">
        <h1 class="text-lg font-semibold text-start">Asignación de horarios</h1>
    </div>
    <div class="lg:grid lg:grid-cols-5A flex flex-col   gap-5 justify-evenly  p-4">

        <div class="flex flex-col border rounded-md bg-white h-fit w-full pb-2 justify-center items-center">
            <h2 class="text-md font-semibold my-4">Grado</h2>
            <ul>
                @for(grade of gradeList; track grade.id){
                <li class="flex justify-center my-2 ">
                    <button class="border rounded-md p-2 w-32  transition-colors hover:bg-active  hover:text-white"
                        (click)="selectGrade(grade)" [ngClass]="getGradeClasses(grade.id)">{{grade.number}}°
                        {{grade.section}}</button>
                </li>
                }
            </ul>
        </div>
        @if(selectedGrade){
        <div class="flex flex-col border rounded-md bg-white h-fit w-full pb-2 justify-center items-center">
            <h2 class="text-md font-semibold my-4">Paralelo</h2>
            <ul>
                @for(class of classList; track class.id){
                <li class="flex justify-center my-2">
                    <button class="border rounded-md p-2 w-32  transition-colors hover:bg-active  hover:text-white"
                        (click)="selectClass(class)" [ngClass]="getClassClasses(class.id)">
                        {{class.identifier}}</button>
                </li>
                }
            </ul>
        </div>
        }
        @if(selectedClass){
        <div class="flex flex-col border rounded-md bg-white h-fit w-full pb-2 justify-center items-center">
            <h2 class="text-md font-semibold my-4">Materia</h2>
            <ul>
                @for(subject of subjectList; track subject.id){
                <li class="flex justify-center my-2">
                    <button class="border rounded-md p-2 w-32  transition-colors hover:bg-active  hover:text-white"
                        (click)="selectSubject(subject)"
                        [ngClass]="getSubjectClasses(subject.id)">{{subject.name}}</button>
                </li>
                }
            </ul>
        </div>
        @if(selectedSubject.id ){
        <div class="flex flex-col w-full border rounded-md bg-white h-fit p-4 ">
            <div class="flex w-full justify-between ">
                <select (change)="selectTeacher($event)"
                    class="w-4/5 h-9 border border-gray-400 rounded-md pl-3 outline-none focus:border-primary ">
                    <option value="0">Seleccionar docente</option>
                    @for(teacher of teacherList; track teacher.id){
                    <option value="{{teacher.id}}">{{teacher.person.name}}</option>
                    }
                </select>
                <button (click)="getSchedules()" class="border rounded-md bg-selected text-white p-2">Calcular</button>
            </div>

            @if(selectedSubject){
            <div class="flexjustify-start overflow-x-hidden  lg:overflow-x-auto w-80 lg:w-full">
                <ul class="flex flex-row m-2 lg:overflow-y-scroll ">
                    @for(classroom of classroomList; track classroom.id){
                    <li class="mx-2">
                        <button class="border rounded-md p-2 w-32  transition-colors hover:bg-active  hover:text-white"
                            (click)="selectClassroom(classroom)"
                            [ngClass]="getClassroomClasses(classroom.id)">{{classroom.type}}
                            {{classroom.block}}
                            {{classroom.number}}</button>
                    </li>
                    }
                </ul>
            </div>
            }
            @if(showSchedule){
            <div class="flex  lg:w-full w-[36rem] lg:overflow-x-scroll">
                <table class="table-fixed table w-full overflow-x-scroll">
                    <tr class="border bg-primary text-white w-3/4">
                        <th class="text-center">Horario</th>
                        <th class="text-center">Lunes</th>
                        <th class="text-center">Martes</th>
                        <th class="text-center">Miércoles</th>
                        <th class="text-center">Jueves</th>
                        <th class="text-center">Viernes</th>
                    </tr>
                    @for(day of showedSchedule; track day; let idx = $index){
                    <tr>
                        <td class="border text-center h-10">{{hours[idx].start }} - {{hours[idx].end }}</td>

                        @for(period of day; track period.period; let dayIdx = $index){
                        <td class="border cursor-pointer text-center text-white hover:opacity-95"
                            [ngClass]="getCellClasses(period)" (click)="selectSchedule(period,dayIdx)">
                            @if(!period.isAvailable && period.reason === 'selected'){
                            <span>Seleccionado</span>
                            }
                            @if(!period.isAvailable && period.reason !== 'selected'){
                            <span>no disponible</span>
                            }
                            @if(period.isAvailable){
                            <span>Disponible</span>
                            }
                        </td>
                        }
                    </tr>
                    }
                </table>
            </div>
            <div class="flex w-1/3">

            </div>
            }
        </div>
        }
        }

        <div class="w-1/3">
            <button (click)="onSubmit()" class="bg-primary text-white border rounded-md p-2">Asignar</button>
        </div>
    </div>
</main>