<main
  class="flex flex-col h-[87vh] border rounded-md bg-bg-color overflow-y-auto"
>
  <div class="w-full flex justify-center">
    <h1 class="text-xl font-bold my-2">
      Asignación de materias
    </h1>
  </div>
  <div
    class="xl:grid xl:grid-cols-assignation flex flex-col justify-evenly px-2"
  >
    <div class="flex md:flex-row flex-col justify-evenly space-y-2 md:space-y-0">
      <div
        class="flex flex-col border rounded-md bg-white h-fit w-full pb-2 justify-start items-center xl:h-[75vh] md:mx-2 mx-0 box-border md:h-96"
      >
        <h2 class="text-md font-semibold my-4">Grado</h2>
        <ul class="w-full overflow-auto">
          @for (grade of gradeList; track grade.id) {
            <li class="flex justify-center my-2">
              <button
                class="border rounded-md p-2 w-32 transition-colors hover:bg-active hover:text-white"
                (click)="selectGrade(grade)"
                [ngClass]="getGradeClasses(grade.id)"
              >
                {{ grade.number }}° {{ grade.section }}
              </button>
            </li>
          }
        </ul>
      </div>
      @if (selectedGrade) {
        <div
          class="flex flex-col border rounded-md bg-white h-fit w-full pb-2 justify-start items-center xl:h-[75vh]  md:mx-2 mx-0 box-border md:h-96"
          #course
        >
          <h2 class="text-md font-semibold my-4">Paralelo</h2>
          <ul class="w-full overflow-auto">
            @for (classR of classList; track classR.id) {
              <li class="flex justify-center my-2">
                <button
                  class="border rounded-md p-2 w-32 transition-colors hover:bg-active hover:text-white"
                  (click)="selectClass(classR)"
                  [ngClass]="getClassClasses(classR.id)"
                >
                  {{ classR.identifier }}
                </button>
              </li>
            }
          </ul>
        </div>
      }
      @if (selectedClass) {
        <div
          class="flex flex-col border rounded-md bg-white h-fit w-full pb-2 justify-start items-center xl:h-[75vh] md:mx-2 mx-0 box-border md:h-96"
          #subject
        >
          <h2 class="text-md font-semibold my-4">Materia</h2>
          <ul class="w-full overflow-auto">
            @for (subject of subjectList; track $index) {
              <li class="flex justify-center my-2">
                <button
                  class="border rounded-md p-2 w-32 transition-colors hover:bg-active hover:text-white"
                  (click)="selectSubject(subject)"
                  [ngClass]="getSubjectClasses(subject.id)"
                >
                  {{ subject.name }}
                </button>
              </li>
            }
          </ul>
        </div>
      }
    </div>
    @if (selectedSubject.id) {
      <div
        class="flex flex-col w-full h-fit xl:h-[75vh] border rounded-md bg-white p-4 overflow-auto m-2 md:m-0"
        #schedule
      >
        <h2 class="text-md font-semibold text-center mb-2">Asignación</h2>
        <h3 class="text-md font-normal text-start mb-2">Profesor</h3>
        <div class="flex w-full justify-between my-2">
          <select
            (change)="selectTeacher($event)"
            [(ngModel)]="selectedTeacher.id"
            class="w-4/5 h-9 border border-gray-400 rounded-md pl-3 outline-none focus:border-primary p-0"
          >
            <option value="0" disabled selected>Seleccionar docente</option>
            @for (teacher of teacherList; track teacher.id) {
              <option value="{{ teacher.id }}">
                {{ teacher.person.name }} {{teacher.person.lastname}}
              </option>
            }
          </select>
        </div>
        @if (selectedSubject) {
          <div class="flex flex-col justify-start w-full">
            <h3 class="text-md font-normal text-start ">Aulas</h3>
            <ul
              class="flex flex-row my-2 overflow-x-auto w-full space-x-2 p-2"
            >
              @for (classroom of classroomList; track classroom.id) {
                <li class="" a >
                  <button
                    class="border rounded-md p-2 w-32 transition-colors hover:bg-active hover:text-white"
                    (click)="selectClassroom(classroom)"
                    [ngClass]="getClassroomClasses(classroom.id)"
                  >
                    {{ classroom.type }}
                    {{ classroom.block }}
                    {{ classroom.number }}
                  </button>
                </li>
              }
            </ul>
          </div>
          <div class="flex w-full flex-end">
            <button
              (click)="onClickShowScheduleHandler()"
              class="border rounded-md bg-selected text-white p-2 text-sm"
            >
              Obtener horarios
            </button>
          </div>
        }
        @if (showSchedule) {
          <div class="w-full h-fit">
            <app-schedule-selection
              [teacherData]="selectedTeacher"
              [classRoomData]="selectedClassroom"
              [selectedSubject]="selectedSubject"
              [classData]="selectedClass"
              [isForAssignation]="true"
              (scheduleEventEmitter)="onUpdateScheduleHandler($event)"
            ></app-schedule-selection>
            <div class="w-full flex justify-end my-2">
              <button
                (click)="onSubmitHandler()"
                class="bg-primary text-white border rounded-md py-1 px-3"
              >
                Asignar
              </button>
            </div>
          </div>
        }
      </div>
    }
  </div>
</main>
<ng-template #modal></ng-template>
