<main
  class="flex flex-col h-[87vh] border rounded-md bg-bg-color overflow-y-hidden overflow-x-hidden lg:overflow-x-scroll"
>
  <div class="w-full flex justify-start p-4">
    <h1 class="text-lg font-semibold text-start">Asignación de horarios</h1>
  </div>
  <div
    class="xl:grid xl:grid-cols-assignation flex flex-col gap-5 justify-evenly px-2"
  >
    <div class="flex md:flex-row flex-coljustify-evenly">
      <div
        class="flex flex-col border rounded-md bg-white h-fit w-full pb-2 justify-start items-center xl:h-[75vh] xl:overflow-y-scroll mx-2 box-border"
      >
        <h2 class="text-md font-semibold my-4">Grado</h2>
        <ul>
          @for (grade of gradeList; track grade.id) {
            <li class="flex justify-center my-2">
              <button
                class="border rounded-md p-2 w-32 transition-colors hover:bg-active hover:text-white"
                (click)="selectGrade(grade)"
                [ngClass]="getGradeClasses(grade.id)"
              >
                {{ grade.number }}° {{ grade.section }}
              </button>
            </li>
          }
        </ul>
      </div>
      @if (selectedGrade) {
        <div
          class="flex flex-col border rounded-md bg-white h-fit w-full pb-2 justify-start items-center xl:h-[75vh] xl:overflow-y-scroll mx-2 box-border"
          #course
        >
          <h2 class="text-md font-semibold my-4">Paralelo</h2>
          <ul>
            @for (class of classList; track class.id) {
              <li class="flex justify-center my-2">
                <button
                  class="border rounded-md p-2 w-32 transition-colors hover:bg-active hover:text-white"
                  (click)="selectClass(class)"
                  [ngClass]="getClassClasses(class.id)"
                >
                  {{ class.identifier }}
                </button>
              </li>
            }
          </ul>
        </div>
      }
      @if (selectedClass) {
        <div
          class="flex flex-col border rounded-md bg-white h-fit w-full pb-2 justify-start items-center xl:h-[75vh] xl:overflow-y-scroll mx-2 box-border"
        >
          <h2 class="text-md font-semibold my-4">Materia</h2>
          <ul>
            @for (subject of subjectList; track subject.id) {
              <li class="flex justify-center my-2">
                <button
                  class="border rounded-md p-2 w-32 transition-colors hover:bg-active hover:text-white"
                  (click)="selectSubject(subject)"
                  [ngClass]="getSubjectClasses(subject.id)"
                >
                  {{ subject.name }}
                </button>
              </li>
            }
          </ul>
        </div>
      }
    </div>
    @if (selectedSubject.id) {
      <div
        class="flex flex-col w-full h-fit xl:h-[75vh] border rounded-md bg-white p-2 overflow-y-scroll"
      >
        <h2 class="text-md font-semibold text-start mb-2">Asignación</h2>
        <h3 class="text-md font-normal text-start mb-2">Profesor</h3>
        <div class="flex w-full justify-between">
          <select
            (change)="selectTeacher($event)"
            [(ngModel)]="selectedTeacher.id"
            class="w-4/5 h-9 border border-gray-400 rounded-md pl-3 outline-none focus:border-primary"
          >
            <option value="0">Seleccionar docente</option>
            @for (teacher of teacherList; track teacher.id) {
              <option value="{{ teacher.id }}">
                {{ teacher.person.name }} {{teacher.person.lastname}}
              </option>
            }
          </select>
        </div>
        @if (selectedSubject) {
          <div class="flex flex-col justify-start w-full">
            <h3 class="text-md font-normal text-start my-2">Aulas</h3>
            <ul
              class="flex flex-row my-2 lg:overflow-x-hidden overflow-x-scroll w-full"
            >
              @for (classroom of classroomList; track classroom.id) {
                <li class="mr-2">
                  <button
                    class="border rounded-md p-2 w-32 transition-colors hover:bg-active hover:text-white"
                    (click)="selectClassroom(classroom)"
                    [ngClass]="getClassroomClasses(classroom.id)"
                  >
                    {{ classroom.type }}
                    {{ classroom.block }}
                    {{ classroom.number }}
                  </button>
                </li>
              }
            </ul>
          </div>
          <div class="flex w-full flex-end">
            <button
              (click)="onClickShowScheduleHandler()"
              class="border rounded-md bg-selected text-white p-2 text-sm"
            >
              Obtener horarios
            </button>
          </div>
        }
        @if (showSchedule) {
          <app-schedule-selection [teacherData]="selectedTeacher"
                                  [classRoomData]="selectedClassroom"
                                  [selectedSubject]="selectedSubject"
                                  [classData]="selectedClass"
                                  [isForAssignation]="true"
                                  (scheduleEventEmitter)="onUpdateScheduleHandler($event)"
          ></app-schedule-selection>
          <div class="w-full flex justify-end">
            <button
              (click)="onSubmitHandler()"
              class="bg-primary text-white border rounded-md py-1 px-3"
            >
              Asignar
            </button>
          </div>
        }
      </div>
    }
  </div>
</main>
<ng-template #modal></ng-template>
