<main
  class="flex flex-col items-center h-[85vh] bg-bg-color rounded-md border overflow-y-auto"
>
  <div class="flex flex-col items-center lg:w-4/5 w-full p-2">

      <h1 class="font-semibold text-lg my-2">Licencia</h1>

    <div class="flex flex-col w-full border rounded-md p-4 bg-white items-center">
      @if (permissionDTO.id) {
        <div class="flex flex-col  lg:w-3/5 w-full">
          <div class="flex my-2 lg:flex-row flex-col">
            <div class="flex flex-row lg:w-[45%] w-full">
              <span class="font-semibold">Nombre:</span>
              <span class="ml-3">
                {{ permissionDTO.student.name }}
                {{ permissionDTO.student.fatherLastname }}
                {{ permissionDTO.student.motherLastname }}</span
              >
            </div>
            <div class="flex flex-row lg:w-[45%] w-full">
              <span class="font-semibold">Curso: </span>
              <span class="ml-3">
                {{ permissionDTO.student.studentClass }}</span
              >
            </div>
          </div>
          <div class="flex my-2 lg:flex-row flex-col">
            <div class="flex flex-row lg:w-[45%] w-full">
              <span class="font-semibold">Fecha: </span>
              <span class="ml-3">
                {{
                  permissionDTO.date | date: "longDate" : "GMT-4" : "es-ES"
                }}</span
              >
            </div>
            <div class="flex flex-row lg:w-[45%] w-full">
              <span class="font-semibold">Motivo: </span>
              <span class="ml-3"> {{ permissionDTO.reason }}</span>
            </div>
          </div>
          <div class="flex lg:flex-row flex-col my-2">
            <div class="flex flex-row lg:w-[45%] w-full">
              <span class="font-semibold">Fecha de Inicio: </span>
              <span class="ml-3">
                {{ permissionDTO.permissionStartDate | date: "longDate" }} a las
                {{
                  permissionDTO.permissionStartDate | date: "shortTime"
                }}</span
              >
            </div>
            <div class="flex flex-row lg:w-[45%] w-full my-2">
              <span class="font-semibold">Fecha de Fin: </span>
              <span class="ml-3">
                {{ permissionDTO.permissionEndDate | date: "longDate" }} a las
                {{ permissionDTO.permissionEndDate | date: "shortTime" }}</span
              >
            </div>
          </div>
        </div>
       <div class="w-full lg:w-3/5 flex justify-center flex-col ">
         <h2 class="font-semibold">Archivos adicionales</h2>
         <app-image-carrousel
           [imageUrls]="permissionDTO.images"
           [isForSaving]="false"
         ></app-image-carrousel>
       </div>
      }
      <div class="flex lg:flex-row-reverse w-full flex-col justify-evenly my-5 space-y-2 lg:space-y-0 ">
        <button
          class="btn border rounded-md p-1 text-red-600 hover:bg-red-700 hover:text-white transition-colors"
          (click)="rejectPermissionModal()"
        >
          Rechazar licencia
        </button>
        <button
          class="border rounded-md p-1 bg-accepted text-white hover:bg-green-700 transition-colors"
          (click)="approvePermission()"
        >
          Aprobar licencia
        </button>
      </div>
    </div>
  </div>
</main>

<ng-template #rejectModal>
  <div class="h-fit w-full flex flex-col my-2">
    <span> Razón del rechazo </span>
    <textarea
      id="reason"
      [(ngModel)]="reason"
      class="rounded-md border resize-none"
    >
    </textarea>
  </div>
</ng-template>
<ng-template #acceptModal> </ng-template>
