<main class="flex flex-col items-center  h-[85vh] bg-bg-color rounded-md border">
  <section class="w-4/5 py-2 px-4 mt-2">
    <h1 class="font-semibold text-lg">Horarios</h1>
    <div class="flex my-2 w-2/5 justify-between">
      <div class="flex flex-col">
        <div class="flex my-1">
          <span class="font-bold">Profesor: </span> <span class="ml-2">{{userDetails.details.person.name}} {{userDetails.details.person.name}}</span>
        </div>
      </div>
    </div>
  </section>
  <table class="table-fixed table overflow-x-scroll border-separate border-spacing-0 w-4/5">
    <thead class="bg-selected text-white h-10">
    <th class="w-48 border text-center first:border-l first:rounded-tl-lg last:rounded-tr-lg border-gray font-extralight">Hora</th>
    <th class="w-48 border text-center  border-gray font-extralight">Lunes</th>
    <th class="w-48 border text-center  border-gray font-extralight">Martes</th>
    <th class="w-48 border text-center  border-gray font-extralight">Miércoles</th>
    <th class="w-48 border text-center  border-gray font-extralight">Jueves</th>
    <th class="w-48 border text-center first:border-l last:rounded-tr-lg border-gray font-extralight">Viernes</th>
    </thead>
    <tbody>
      @for(row of table; track row; let idx = $index){
        <tr>
          <td class="border text-center  h-10">{{scheduleFormat.hours[idx].start | hour}} - {{scheduleFormat.hours[idx].end | hour}}</td>
          @for(cell of row; track cell.id){
            <td class="h-fit border text-center text-white hover:opacity-70 transition-opacity"  (click)="selectClass(cell)"
                [ngStyle]="{'background-color': cell.id !== 0 ? assignedColors[cell.subjectName] : '#fff',
                'cursor': cell.id === 0 ? 'default' : 'pointer'}">
              @if(cell.id !== 0){
                {{cell.subjectName}} - {{cell.className}}
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>

</main>
<ng-template #modal let-data="data">
  <div class="flex flex-row w-full justify-evenly">
    <div class="flex flex-col">
      <span class="my-2 font-semibold">Materia: <span class="font-medium">{{data.subjectName}}</span> </span>
      <span class="font-semibold">Horas: <span class="font-medium">{{data.startHour | hour}} - {{data.endHour | hour}}</span></span>
    </div>
    <div class="flex flex-col">
      <span class="my-2 font-semibold">Aula: <span class="font-medium">{{data.classroomName}}</span></span>
      <span class="font-semibold">Curso: <span class="font-medium">{{data.className}}</span></span>
    </div>
  </div>
</ng-template>
