@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto&display=swap");
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

:root{
  --primary : #0C2348;
  --bg: #F9F9F9
}
/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 6px;
  /* Ancho del scrollbar */
  height: 6px;
  /* Alto del scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color del fondo del scrollbar */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Color de la barra del scrollbar */
  border-radius: 4px;
  /* Borde redondeado */
}

/* Thumb al estar hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Cambia el color de la barra al hacer hover */
}

* {
  font-size: 18px;
}

details[open] > summary::after {
  content: ' 🔽';
}
details > summary::after {
  content: ' ▶️';
}
input[type="text"]{
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
}

input[type="text"]:focus{
  outline: none;
  border: 1px solid var(--primary);
  box-shadow: none;
}
