@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto&display=swap");
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

html {
  overflow: hidden;
}
/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 6px;
  /* Ancho del scrollbar */
  height: 6px;
  /* Alto del scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color del fondo del scrollbar */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Color de la barra del scrollbar */
  border-radius: 4px;
  /* Borde redondeado */
}

/* Thumb al estar hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Cambia el color de la barra al hacer hover */
}

* {
  font-size: 18px;
}
