<main class="h-[80vh] flex justify-center items-center">
  <section class=" border border-black rounded bg-[#F9F9F9]">
    <div class="flex flex-col justify-center items-center box-border py-7 px-5">
      <h1 class="text-xl mb-3">Inicio de Sesión</h1>
      <form [formGroup]="loginForm" class="flex flex-col justify-center items-center mb-3" (submit)="login($event)">
        <div class="flex flex-col my-4">
          <input placeholder="Usuario" type="text" id="username"
            class="border border-[#BCBCBC] rounded-lg h-8 w-52 pl-2 placeholder-gray-400" formControlName="username" />
        </div>
        <div class="flex flex-col my-4">
          <input placeholder="Contraseña" type="text" id="password" type="password"
            class="border border-[#BCBCBC] rounded-lg h-8 w-52 pl-2 placeholder-gray-400" formControlName="password" />
        </div>
        <button class="border border-blue-950 rounded-xl bg-blue-950  text-white  w-52 disabled:opacity-50"
          [disabled]="this.loginForm.invalid">
          Iniciar Sesión
        </button>
      </form>

    </div>
  </section>
</main>