<main class="flex flex-col justify-center items-center w-full ">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()"
        class="grid sm:grid-cols-2A grid-cols-1 gap-5 w-full lg:w-3/4 place-content-center border rounded-md bg-bg-color pr-2 pb-2">
        <div class="flex flex-col  rounded-md w-full p-5  min-w-fit">
            <h1 class="my-4 text-2xl text-gray-600">Registro de usuario</h1>
            <div class="flex flex-col justify-between lg:flex-row ">
                <div class="flex flex-col my-3 mr-0 lg:mr-3  box-content w-full">
                    <label for="name">Nombres</label>
                    <input name="name" type="text"
                        class="h-8 border border-gray-400 rounded-md pl-3 outline-none focus:border-primary text-gray-400"
                        formControlName="name">
                </div>
                <div class="flex flex-col my-3 mr-3 md:mr-0 box-content w-full">
                    <label for="lastname">Apellidos</label>
                    <input name="lastname" type="text" class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
                        formControlName="lastname">
                </div>
            </div>
            <div class="flex flex-col justify-between lg:flex-row">
                <div class="flex flex-col my-3 mr-0 lg:mr-3 box-content w-full">
                    <label for="ci">CI</label>
                    <input name=ci type="ci" class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
                        formControlName="ci">
                </div>
                <div class="flex flex-col my-3 w-full">
                    <label for="phone">Teléfono</label>
                    <input name="phone" type="tel" class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
                        formControlName="phone">
                </div>

            </div>
            <div class="flex flex-col my-3 mr-0 lg:mr-3 box-content wull">
                <label for="email">Email</label>
                <input name="email" type="email" class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
                    formControlName="email">
            </div>
            <div class="flex flex-col my-3">
                <label for="address">Dirección</label>
                <textarea name="address" type="text" placeholder="Dirección"
                    class="border border-gray-400 rounded-md pl-3 resize-none" rows="2"
                    formControlName="address"></textarea>
            </div>
            <div class="flex flex-col my-3">
                <label for="username">Usuario</label>
                <input name="username" type="text" class="h-8 border border-gray-400 rounded-md pl-3 outline-none "
                    formControlName="username">
            </div>
            <div class="flex flex-col my-3">
                <label for="password_confirm">Rol</label>
                <select name="role" class="h-8 border border-gray-400 rounded-md pl-3 outline-none"
                    formControlName="role">
                    <option value="ADMINISTRATIVE">Administrative</option>
                    <option selected value="TEACHER">Profesor</option>
                    <option value="FATHER">Padre</option>
                </select>
            </div>

        </div>
        <div class="flex flex-col justify-center items-center h-full w-full rounded-md">
            <img src={{userImage}} class="border rounded-full max-h-32 max-w-[8rem] aspect-square">
            <label class="flex flex-col w-3/4 text-center justmt-10">
                <span
                    class="flex justify-center items-center text-white border rounded-md bg-active h-8 hover:bg-primary transition">
                    Foto </span>
                <input type="file" class="hidden" (change)="onFileSelected($event)">

            </label>
        </div>
        <div></div>
        <button class="h-8  border rounded-md bg-primary text-bg-color col-span-1 ">Enviar</button>
    </form>
</main>