<main class="flex flex-col box-border justify-start items-center h-[85vh] overflow-y-scroll border bg-bg-color rounded-sm p-2">
  <h1 class="my-6 text-center text-lg font-bold">Lista de usuarios</h1>

    <form
      [formGroup]="searchForm"
      class="flex flex-col justify-center md:w-2/5 w-full items-center"
      (ngSubmit)="onSearch()"
    >
      <div class="flex flex-col justify-center w-full">
        <input
          type="text"
          class="border border-gray-400 rounded-md px-2 mb-3"
          placeholder="Nombre"
          formControlName="name"
        />
        <input
          type="text"
          class="border border-gray-400 rounded-md px-2 mb-3"
          placeholder="Apellido"
          formControlName="lastname"
        />
        <input
          type="text"
          class="border border-gray-400 rounded-md px-2 mb-3"
          placeholder="CI"
          formControlName="ci"
        />
        <select
          formControlName="role"
          class="border border-gray-400 rounded-md px-2 mb-3"
        >
          <option value="ADMINISTRATIVE">Administrativo</option>
          <option value="FATHER">Padre</option>
          <option value="TEACHER">Docente</option>
          <option value="">Todos</option>
        </select>
        <button
          type="submit"
          class="bg-primary text-white px-4 py-1 border rounded-md"
        >
          Buscar
        </button>
      </div>
    </form>

    @if((this.userList.length === 0 && !this.firstRequest) && !this.requestSend
    ){
    <div class="flex justify-center my-20">
      <span class="font-medium text-lg">No se encontraron usuarios! </span>
    </div>
    } @if(this.requestSend){
    <div class="flex justify-center mt-20">
      <div role="status">
        <svg
          aria-hidden="true"
          class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    }

    <div class="flex justify-center md:w-2/5 w-full mb-5">
      <ul class="w-full">
        @for(user of userList; track user.id){
        <li
          class="bg-white border rounded-lg py-3 px-1 mt-3 flex flex-col justify-center items-center"
        >
          <div
            class="grid grid-cols-2B items-center justify-between mb-5 w-4/5"
          >
            @if(user.imageUrl){
            <div class="border rounded-full w-16 h-16 flex justify-center">
              <img
                src="{{ user.imageUrl }}"
                loading=""
                alt="user image"
                class="rounded-full max-h-16 max-w-16"
              />
            </div>
            } @else{
            <div class="border rounded-full w-16 h-16 flex justify-center">
              <img src="../../assets/user.svg" class="max-w-[4rem]" />
            </div>
            }
            <div class="flex flex-col justify-center">
              <span class="text-clip text-center">{{ user.name }}</span>
              <span class="text-clip text-center">{{ user.lastname }}</span>
            </div>
          </div>
          <div class="flex flex-col justify-around w-4/5">
            <section class="flex flex-col justify-between w-full mb-3">
              <div class="flex flex-col border rounded-md p-1 mb-3">
                <h3 class="mb-2 text-start font-bold pl-5">Datos</h3>
                <div class=" flex flex-col justify-evenly items-start w-full ml-7 md:ml-0 md:flex-1 md:flex-wrap md:flex-row ">
                  <div class="flex flex-col">
                    <span class="text-clip font-semibold">Email</span>
                    <span
                      class="block truncate w-48 cursor-default"
                      [title]="user.email"
                      >{{ user.email }}</span
                    >
                  </div>
                  <div class="flex flex-col">
                    <span class="text-clip font-semibold">Teléfono</span>
                    <span
                    class="block truncate w-48 cursor-default"
                    [title]="user.phone"
                    >{{ user.phone }}</span
                  >
                  </div>
                  <div class="flex flex-col">
                    <span class="text-clip font-semibold">CI</span>
                    <span
                      class="block truncate w-48 cursor-default"
                      [title]="user.ci"
                      >{{ user.ci }}</span
                    >
                   
                  </div>
                </div>
              </div>
              <div class="flex flex-col border rounded-md p-1">
                <h3 class="mb-2 text-start font-semibold pl-5">Roles</h3>
                <div class="flex flex-wrap justify-center w-full">
                  @for(role of user.roles; track role.id){
                  <span
                    class="border rounded-lg m-1 p-1"
                    [ngClass]="{
                      'bg-cyan-300': role.name === 'ADMINISTRATIVE',
                      'bg-sky-500': role.name === 'FATHER',
                      'bg-blue-500': role.name === 'TEACHER'
                    }"
                  >
                    {{ currentRoles[role.name] }}
                  </span>
                  }
                </div>
              </div>
            </section>
            <section
              class="flex flex-col border rounded-md p-1 mb-3 justify-center"
            >
              <h3 class="text-start font-semibold pl-5">Estado</h3>
              <div class="flex justify-center">
                <span
                  class="flex text-center font-semibold text-white w-fit py-1 px-1 rounded-md shadow"
                  [ngClass]="{
                    'bg-green-500': user.status === 1,
                    'bg-red-500': user.status === 2
                  }"
                  >{{ user.status === 1 ? "Activo" : "Bloqueado" }}</span
                >
              </div>
            </section>
            <section class="flex flex-col border rounded-md p-1">
              <h3 class="text-start font-semibold pl-5">Acciones</h3>
              <div
                class="flex flex-col xl:flex-row justify-evenly items-center mt-1"
              >
                <button
                  class="bg-primary text-white px-4 py-1 my-1 border rounded-md w-48 box-border"
                  (click)="editUser(user.id)"
                >
                  Editar
                </button>
                @if(user.status === 1){
                <button
                  class="bg-red-500 text-white px-4 py-1 my-1 border rounded-md w-48 box-border"
                  (click)="showBlockModal(user.username, user.status)"
                >
                  Bloquear Acceso
                </button>
                }@else{
                <button
                  class="bg-green-500 text-white px-4 py-1 my-1 border rounded-md w-48 box-border"
                  (click)="showBlockModal(user.username, user.status)"
                >
                  Desbloquear Acceso
                </button>
                }
              </div>
            </section>
          </div>
        </li>

        }
      </ul>
    </div>
    @if(this.userList.length > 0){
    <div class="flex justify-center">
      <!-- Previous Button -->
      @if(this.currentPage > 1){
      <button
        (click)="previousPage()"
        class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <svg
          class="w-3.5 h-3.5 me-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4"
          />
        </svg>
        Anterior
      </button>
      } @if(this.currentPage < this.totalPages){
      <button
        (click)="nextPage()"
        class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        Siguiente
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </button>
      }
    </div>
    }

</main>

<app-modal #modal>
  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
    <button
      type="button"
      (click)="closeModal()"
      class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
    >
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
    <div class="p-4 md:p-5 text-center">
      <h3
        class="mb-5 mt-5 text-lg font-normal text-gray-500 dark:text-gray-400"
      >
        {{ message }}
      </h3>
      <div class="flex flex-row justify-around">
        <button
          type="button"
          (click)="blockAction()"
          class="text-white bg-primary hover:bg-selected focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
        >
          Aceptar
        </button>
        <button
          type="button"
          (click)="closeModal()"
          class="text-white bg-gray-400 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
